
.wrapper {
  padding: 2%;
}

.numbers-list {
  float:left;
  overflow-y: auto;
  height: 40rem;
  border: 1px solid #424242;
  width: 100%;
  border-radius: 5px;
}

.sort-btns {
  float: right;
}

mat-card-content {
  margin-left: 16px;
}
