<mat-toolbar>
  <span>Phone number Generator</span>
</mat-toolbar>
<div fxLayout="row" fxLayout.lt-sm="column" class="wrapper">
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Metrics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>Minimum number: {{minimumNumber ? code + minimumNumber : 0}}</span>
        <span>Maximum number: {{maximumNumber? code + maximumNumber : 0}}</span>
        <span>Total: {{numberList?.size}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button class="generator" mat-button (click)="generateNumbers()">Generate New Numbers</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="70" class="wrapper">
    <button id="download-btn" mat-button (click)="downloadNumbers(numberList, 'phone-numbers.txt', 'application/json')">Download</button>
    <div class="sort-btns"><button mat-button (click)="sortNumbers('DESC')"><mat-icon svgIcon="down"></mat-icon></button><button mat-button  (click)="sortNumbers('ASC')"><mat-icon svgIcon="up"></mat-icon></button></div>
    <div class="numbers-list">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let number of numberList; index as i">
                {{i + 1}}. {{code}}{{number}}
            </mat-list-item>
        </mat-list>
    </div>
  </div>
</div>

